---
import BlasonPolytech from "./BlasonPolytech.astro";
import NavMenu from "./NavMenu";
---
<header class=" sticky top-0 bg-white bg-opacity-50 backdrop-blur-sm text-lg font-bold">
    <nav class="container mx-auto py-4 flex justify-between items-center">
      <a href="/" class="flex items-center gap-2">
        <BlasonPolytech/>
        <div>Fédération des Etudiants FPMs</div>
      </a>
      <NavMenu client:load/>
    </nav>
</header>